{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1 style="padding-top: 15px">{{ category.name }}</h1>
    <div class="row">
        {{ include('partials/products_list.html.twig', {'products': category.products}) }}
    </div>
{% endblock %}



