{% extends 'base.html.twig' %}

{% block title %}Success!{% endblock %}

{% block body %}
    <h3>Thank you! We call you soon!</h3>

    <p><a href="{{ path('homepage') }}" class="btn btn-primary">Continue shopping</a> </p>
{% endblock %}



